<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="createFolderJpg">true</entry>
<entry key="noMovieNameInImageFiles">false</entry>
<entry key="downloadActorImagesToActorFolder">true</entry>
<entry key="lastUsedDirectory">X:\Jav - Testing Ground</entry>
<entry key="extraFanartScrapingEnabled">true</entry>
<entry key="writeTrailerToFile">true</entry>
<entry key="writeFanartAndPosters">true</entry>
<entry key="overwriteFanartAndPosters">true</entry>
</properties>
