<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="lastUsedDirectory">X:\JAV</entry>
<entry key="overWriteFanartAndPosters">true</entry>
<entry key="writeFanartAndPosters">true</entry>
</properties>
